<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <!--<link rel="stylesheet" href=/static/css/style.css th:href="@{/static/css/style.css}"/>-->

</head>
<body>

    <header th:replace="layout :: site-header" />

    <h2>Список заявок</h2>
    <a href="transportOrder/createOrder.html" th:href="@{/createOrder}">Создать новую заявку</a>

    <table>
        <thead>
            <th>Станция отправления</th>
            <th>Станция назначения</th>
            <th>Примечание</th>
        </thead>
        <tr th:each="transportOrder : ${order_list}">
            <td th:text="${transportOrder.sendStation?.rusName} ?: 'no station'">No data</td>
            <td th:text="${transportOrder.receiveStation != null ? transportOrder.receiveStation.rusName : 'No data'}" >No data</td>
            <td th:text="${transportOrder.note}"></td>
        </tr>

    </table>



    <header th:replace="layout :: site-footer" />

</body>
</html>