<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:fragment="site-head">
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/static/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/style_menu.css}"/>
    <link rel="icon" href="/static/img/favicon2.ico" th:href="@{/static/img/fav-icon.ico}"/>
    <!--<meta th:include="this :: head" th:remove="tag"/>-->
    <title>УТЛ-2</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/static/css/style.css}"/>
    <link rel="icon" href="/static/img/favicon.ico" th:href="@{/static/img/favicon.ico}"/>

    <meta username="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue"></script>

    <!--Leaflet map-->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>

    <!-- Vue.js скрипты TODO поменять на версию для пост продакшена
    версия для разработки, отображает полезные предупреждения в консоли -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>

</head>

<header th:fragment="site-header" th:remove="tag">
    <nav class="navbar navbar-expand-md sticky-top navbar-ligth bg-fadded">
        <a class="nav-link waves-effect waves-light" th:href="@{/}">
            <img class="home-logo" alt="UTL-2" th:src="@{/static/img/site-logo.png}"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul id="myDIV" class="navbar-nav mr-auto">

                <li class="nav-item" >
                    <a class="nav-link waves-effect waves-light" th:href="@{/chart}">План-график</a>
                </li>

                <li class="nav-item" >
                    <a class="nav-link waves-effect waves-light" th:href="@{/orders}">Заявки</a>
                </li>


                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" th:href="@{/map}">Карта</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Справочники
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" th:href="@{/stations}">Справочник станций</a>
                        <a class="dropdown-item" th:href="@{/partners}">Справочник контрагентов</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Рассчеты
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                        <a class="dropdown-item" th:href="@{/station-payment}">Расчет по станциям</a>
                        <a class="dropdown-item" href="#">Прочее</a>

                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Реестры
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                        <a class="dropdown-item" th:href="@{/certificate-register}">Реестр качетсвенных</a>
                        <a class="dropdown-item" href="#">Реестр отгрузки</a>

                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light" th:href="@{/info}">Информация</a>
                </li>

                <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                    <a class="nav-link waves-effect waves-light" th:href="@{/admin}">Панель <br/>администратора</a>
                </li>

            </ul>

            <div id="logged-in-info">
                <span sec:authorize="isAuthenticated()">Hello, <b sec:authentication="name">(Anonimous)</b></span>

                <form sec:authorize="isAuthenticated()" method="post" th:action="@{/logout}">
                    <input type="submit" class="btn" value="Logout"/>
                </form>
                <form sec:authorize="isAnonymous()" method="get" th:action="@{/login}">
                    <input type="submit" class="btn" value="Login"/>
                </form>
            </div>

        </div>

    </nav>

    <!--<script>-->
        <!--var currentPage = window.location.pathname;-->
        <!--var items = document.getElementById("myDIV").getElementsByClassName("nav-item");-->
        <!--var activeClass = "active";-->

        <!--var patt = new RegExp(currentPage.split("/")[1],"i");-->

        <!--for(var i = 0; i < items.length; i++){-->
            <!--var navItem = items[i];-->
            <!--var linkArray = navItem.children[0].href.split("/");-->
            <!--var linkHTML = linkArray[linkArray.length - 1];-->
            <!--if(patt.test(linkHTML)){-->
                <!--navItem.classList.add("active");-->
            <!--}-->
        <!--}-->
    <!--</script>-->


</header>

<!--Нижний колонтитул сайта-->
<footer th:fragment="site-footer">
    &copy; Укртранслогистика-2, локальная информационная система. 2019 г.
</footer>


<body>

</body>
</html>